{% extends "admin/admin-base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/rigby-admin.css') }}" >
    <style>
        .box-shadow {
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .10)
        }
        #rigby-weekly, #rigby-stats, #rigby-recent {
            width: 500px;
            padding: 30px;
            margin-bottom: 20px;
            background-color: white;
        }

        #rigby-weekly {
            height: 250px;
        }

        #rigby-stats .row {
            max-height: 40px;
        }
        .bold {
            font-weight: bold;
        }
        .weekly-count, .weekly-legend {
            height: 100%;
            display: inline-block;
            padding: 0;
            margin: 0;
            vertical-align: top;
            position: relative;
        }
        .weekly-count {
            width: 55px;
        }
        .weekly-legend {
            width: 1%;
        }

        .recent-review {
            padding: 0 5px 20px 5px;
        }

        .odd {
            background-color: #F2F2F2;
        }

        .recent-header {
            position: relative;
            margin: 0 0 10px 0;
        }

        .recent-header::after {
            content: "";
            background: #337AB7;
            position: relative;
            bottom: 0;
            left: 15px;
            height: 1px;
            width: 90%;
        }

        .bar-wrapper {
            height: 80%;
            position: relative;
        }
        .bar {
            width: 16px;
            position: absolute;
            bottom: 0;
        }
        .date {
            position: absolute;
            display: block;
            height: 20%;
            /* border: 1px solid red; */
            bottom: 0;
        }
        .tick {
            border-top: 1px dotted #C4C4C4;
            /* height: 20%; */
            height: 16%;
            width: 400px;
        }
        .tick p {
            top: -20px;
            left: -25px;
            position: relative;
        }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-6">
            <div id="rigby-stats">
                <div class="row">
                    <div class="col-md-6 bold">Total Reviews:</div>
                    <div class="col-md-6">{{ weeklyStats.totalReviews }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 bold">Review Average:</div>
                    <div class="col-md-6">{{ weeklyStats.avg }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 bold">Last Review:</div>
                    <div class="col-md-6">{{ weeklyStats.lastReview }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 bold">Reviews {{ weeklyStats.activeDate }}:</div>
                    <div class="col-md-6">{{ weeklyStats.activeDateCount }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 bold">Reviews {{ weeklyStats.previousDate }}:</div>
                    <div class="col-md-6">{{ weeklyStats.previousDateCount }}</div>
                </div>

            </div>
            <div id="rigby-weekly">
                <div class="weekly-legend col-md">
                    {% for item in weeklyLegend %}
                        <div class="tick">
                            <p>{{ item }}</p>
                        </div>
                    {% endfor %}
                </div>
                {% for key,items in weeklyCount %}
                    <div class="weekly-count col-md">
                        <div class="bar-wrapper">
                            <div class="bar bg-primary" style="height: {{ items.percent }}"></div>
                        </div>
                        <div class="date">{{ items.day }}<br>{{ items.date }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div id="rigby-recent">
                {% for review in recentReviews %}
                    <div class="recent-review {% if loop.index is divisibleby(2) %}even{% else %}odd{% endif %}">
                        <div class="row recent-header">
                            <div class="col-md-4">
                                <span class="bold">Email</span><br> {{ review.email }}
                            </div>
                            <div class="col-md-4">
                                <span class="bold">Stars</span> <br> {{ review.stars|raw }}
                            </div>
                            <div class="col-md-4">
                                <span class="bold">Date</span> <br> {{ review.date }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ review.content }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
