{% extends "admin/admin-base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/rigby-dashboard.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-6">
            <div id="rigby-stats">
                <div class="row">
                    <div class="col-md-6 bold">Total Reviews:</div>
                    <div class="col-md-6">{{ weeklyStats.totalReviews }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 bold">Review Average:</div>
                    <div class="col-md-6">{{ weeklyStats.avg }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 bold">Last Review:</div>
                    <div class="col-md-6">{{ weeklyStats.lastReview }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 bold">Reviews {{ weeklyStats.activeDate }}:</div>
                    <div class="col-md-6">{{ weeklyStats.activeDateCount }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 bold">Reviews {{ weeklyStats.previousDate }}:</div>
                    <div class="col-md-6">{{ weeklyStats.previousDateCount }}</div>
                </div>

            </div>
            <div id="rigby-weekly">
                <div class="weekly-legend col-md">
                    {% for item in weeklyLegend %}
                        <div class="tick">
                            <p>{{ item }}</p>
                        </div>
                    {% endfor %}
                </div>
                {% for key,items in weeklyCount %}
                    <div class="weekly-count col-md">
                        <div class="bar-wrapper">
                            <div class="bar bg-primary" style="height: {{ items.percent }}"></div>
                        </div>
                        <div class="date">{{ items.day }}<br>{{ items.date }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div id="rigby-recent">
                {% for review in recentReviews %}
                    <div class="recent-review {% if loop.index is divisibleby(2) %}even{% else %}odd{% endif %}">
                        <div class="row recent-header">
                            <div class="col-md-5">
                                <span class="bold">Email</span><br> {{ review.email }}
                            </div>
                            <div class="col-md-3">
                                <span class="bold">Stars</span> <br> {{ review.stars|raw }}
                            </div>
                            <div class="col-md-4">
                                <span class="bold">Date</span> <br> {{ review.date }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ review.content }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
