{% extends "admin/admin-base.html.twig" %}

{#
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
#}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/rigby-admin.css') }}" >

    <style>
        #review-search .row {
            max-height: 80px;
        }
        #review-search button {
            position: relative;
            left: 15px;
        }
        #add-criteria {
            display: none;
        }

        #searchFields .criteria.row {
            height: 40px;
        }

        #searchFields select, #searchFields input[type='text'] {
            min-width: 100%;
        }

        #searchFields select {
            margin-top: 5px;
        }

        #searchFields #generalSearchRow {
            max-height: 80px;
        }
        .filter.row {
            height: 30px;
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script rel="script" src="{{ asset('js/rigby-review.js') }}" ></script>
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div>Oh, Hi Marc.</div>

    {{ form_start(form, {'attr': {'id': 'review-search'}}) }}
        {{ form_errors(form) }}
        <div id="searchFields">
            <div id="generalSearchRow" class="row">
                <div class="col-md-12">
                    {{ form_label(form.search_reviews) }}
                    {{ form_widget(form.search_reviews) }}
                </div>
            </div>
        </div>
        <div id="filterFields">
            {% for t in form.type %}
                <div class="filter row">
                    <div class="col-md-4">
                        {{ form_widget(t) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_widget( form.operator[ loop.index0 ]) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_widget( form.value[ loop.index0 ]) }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% if form.type|length <= 0 %}
                {{ form_widget(form.type) }}
                {{ form_widget(form.operator) }}
                {{ form_widget(form.value) }}
            {% endif %}
            <div class="js-add-criteria" data-url="{{ path('addCriteria') }}"></div>
            <button id="add-criteria" class="btn btn-info">Add Criteria</button>
            {{ form_widget(form.search, {'attr': {'class': 'btn-primary'}}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}