<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Rating</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Title</th>
        <th scope="col">Created</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for form in updateForms %}
        {% set title = form.vars.value.title %}
        {% set content = form.vars.value.reviewContent %}
        {% set rating = form.vars.value.rating %}
        {% set name = form.vars.value.reviewerName %}
        {% set id = form.vars.value.id %}
        {% set created = form.vars.value.created %}
        {% set email = form.vars.value.reviewerEmail %}
        <tr>
            <td>{{ id }}</td>
            <td>
                {% for i in range(1, rating) %}
                    <span class="rigby-star"></span>
                {% endfor %}
            </td>
            <td>{{ name }}</td>
            <td>{{ email }}</td>
            <td>{{ title }}</td>
            <td>{{ created | date('Y-m-d') }}</td>
            <td class="edit"><i class="fas fa-edit"></i></td>
        </tr>
        <tr class="update-row">
            <td colspan="7">
                {{ form_start(form, {'attr': {'class': 'review-search'}}) }}
                <div class="form-group">
                    {{ form_label(form.title, 'Title') }}
                    {{ form_widget(form.title) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.reviewerName, 'Name') }}
                    {{ form_widget(form.reviewerName) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.reviewerEmail, 'Email') }}
                    {{ form_widget(form.reviewerEmail) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.reviewContent, 'Content') }}
                    {{ form_widget(form.reviewContent) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.rating, 'Rating') }}
                    {{ form_widget(form.rating) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.save, {'attr': {'class': 'btn-primary'}}) }}
                </div>
                <div class="js-update-review" data-url="{{ path('updateReview') }}"></div>
                {{ form_widget(form.id) }}
                {{ form_end(form) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
