{% extends "admin/admin-base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/rigby-admin.css') }}" >
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div>Oh, Hi Marc.</div>
    {{ form_start(form) }}

        {{ form_errors(form) }}

        <div class="col-md">
            {{ form_label(form.id) }}
            {{ form_widget(form.id) }}
        </div>

        <div class="col-md">

        </div>

        <div class="col-md">

        </div>

    {{ form_widget(form) }}

    {{ form_end(form) }}
{% endblock %}