{% extends "public/public-base.html.twig" %}

{% block title %}<meta title="Submit Review">{% endblock %}
{% block stylesheet %}
    <style>
        .rating-select {
            width: 100%;
            height: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    {% if noGo == null and thankYou == null %}
        <div class="form-review">
            {{ form_start(form, {'attr': {'id': 'review-submit'}}) }}
            <div class="form-group">
                {{ form_label(form.rating, 'Rating') }}
                {{ form_widget(form.rating, {'attr': {'class': 'hidden'}}) }}
                <div class="rating-control">
                    {% for i in 0..4 %}<span class="star"></span>{% endfor %}
                </div>
            </div>
            <div class="form-group">
                {{ form_widget(form.rating, {'attr': {'class': 'hidden'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.name, 'Name') }}
                {{ form_widget(form.name, { 'attr': {'data-error': 'Please include your name'} }) }}
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                {{ form_label(form.email, 'Email') }}
                {{ form_widget(form.email, { 'attr': {'data-error': 'Please include your email address'} }) }}
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                {{ form_label(form.title, 'Title') }}
                {{ form_widget(form.title, { 'attr': {'data-error': 'A title is required'} }) }}
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                {{ form_label(form.content, 'Content') }}
                {{ form_widget(form.content, { 'attr': {'data-error': 'Say something in your review'} }) }}
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                {{ form_widget( form.save, {'label' : 'Submit Review', 'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            <div class="js-submit" data-url="{{ path('reviewSubmit') }}"></div>
            {{ form_end(form) }}
        </div>
    {% endif %}
    {% if noGo == 'tooSoon' %}
        <div class="alert alert-warning">
            <strong>Too many submits!</strong> It looks like you're making too many review submissions too quickly. Please try again later.
        </div>
    {% endif %}
    {% if thankYou == true %}
        <div class="alert alert-success">
            <strong>Thank you!</strong> Your review has been received.
        </div>
    {% endif %}

{% endblock %}